:root {
  --hijau: #797;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap");
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
body {
  font-size: 1.2rem;
  color: azure;
  min-height: 10px;
  background-color: rgb(0, 0, 0);
}

.greetings {
  margin-top: 100%;
  width: 70%;
  margin: auto;
  text-align: justify;
  font-size: 6rem;
  font-weight: 900;
}
.greetings > span {
  color: #fff;
  padding-top: 15rem;
  padding-bottom: 6rem;
  animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
  }
  10%,
  90% {
    color: #111;
    text-shadow: none;
  }
}
.greetings > span:nth-child(1) {
  animation-delay: 0.2s;
}
.greetings > span:nth-child(2) {
  animation-delay: 0.4s;
}
.greetings > span:nth-child(3) {
  animation-delay: 0.6s;
}
.greetings > span:nth-child(4) {
  animation-delay: 0.8s;
}
.greetings > span:nth-child(5) {
  animation-delay: 1s;
}
.greetings > span:nth-child(6) {
  animation-delay: 0.4s;
}
.greetings > span:nth-child(7) {
  animation-delay: 0.6s;
}
.greetings > span:nth-child(8) {
  animation-delay: 0.8s;
}
.description {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.button {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  min-height: 20.5vh;
}

.button a {
  background-color: #1212e2;
  color: white;
  border: 5px solid #1212e2;
}

.button a:hover {
  background-color: white;
  color: #1212e2;
  border: 5px solid white;
}

footer {
  background-color: rgba(119, 153, 119, 0.363);
  color: rgb(221, 221, 221);
  width: 100%;
  text-align: center;
  padding: 10px;
  padding-right: px;
  padding-left: px;
}

footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: #797;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}
@media screen and (max-width: 574px) {
}

/* Media Query */
/* Extra large */
@media (max-widht: 1200px) {
  .greetings {
    display: block;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
  }
  .description {
    font-size: 1rem;
  }

  .button a {
    font-size: 0.5rem;
  }
}

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .sticky-top {
    overflow: hidden;
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
}
